
@{
    ViewData["Title"] = "Index";
}

<h2>מסך הבית</h2>
<div class='home_container'>
    <div class='weather_container'>
        <div class='weather_branch_details'>
            <div id='branch_name' />
            <div>
                <label id='branch_city' />
                <label id='branch_address' />
            </div>
            <div id='branch_phone' />
        </div>
        <div class='weather_details'>
            <img id='weather_img' />
            <div id='weather_degrees' />
        </div>
    </div>
</div>
<script src='~/lib/jquery/dist/jquery.js'></script>
<script>
    $(document).ready(getLocation)

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(fetchNearestBranch)
        }
    }

    function fetchNearestBranch(position) {
        $.ajax({
            type: 'GET',
            url: '/Home/AjaxGetCall',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: getWeather,
            data: {
                lng: position.coords.longitude,
                lat: position.coords.latitude
            }
        })
    }

    function getWeather(branch) {
        $.ajax({
            url: 'http://api.openweathermap.org/data/2.5/weather',
            data: {
                lat: branch.lat,
                lon: branch.long,
                units: 'metric',
                APPID: '50e5e552a74c7defcc7607a0fce0fdf6'
            },
            success: function (res) { showWeatherDetails(branch, res) }
        })
    }

    function showWeatherDetails(branch, weather) {
        $('#branch_name').html(branch.name)
    }
</script>