
@{
    ViewData["Title"] = "NotFound";
}

<div class='page_title_container'>
    <h2 class='page_title'>הספק לא נמצא</h2>
</div>

<div class='create_edit_form_container'>
    <a asp-action="Index">בחזרה למסך ספקים</a>
</div>

