.index-table-th {
    text-align: right;
}

.index-search-select {
    height: 27px;
}

.index-submit-button {
    height: 27px;
    padding: 0 0 0 0;
    width: 70px;
    margin-top: -2px;
}

.create_edit_form_container {
    margin-right: 128px;
    margin-left: 128px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.delete_form_container {
    margin-right: 128px;
    margin-left: 128px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.create_edit_form {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 16px;
    min-width: 360px;
}

.form_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.update-form-container {
    float: right;
}

.delete-label {
    width: 100px;
}

.query-input-text {
    width:20vw;
}

.page_title_container {
    background: #03A9F4;
    height: 184px;
    display: flex;
    align-items: center;
}

.page_title {
    margin-right: 128px;
    color: #212121;
}

.page_plus_button {
    width: 64px;
    height: 64px;
    background: #FF4081;
    border-radius: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -32px;
    margin-right: 32px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.page_plus_text {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

.page_plus_text:hover {
    text-decoration: none;
    color: white;
}

.page_content_container {
    padding: 16px;
    margin-right: 128px;
    margin-left: 128px;
    margin-top: -84px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    background: white;
    margin-bottom: 32px;
    height: 80%;
    overflow: auto;
}

.button {
    background: #FF4081;
    border-color: #FF4081;
    border-radius: 2px;
    width: 96px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.button:hover {
    background: #FF4081;
    border-color: #FF4081;
}

.footer {
    height: 24px;
}

.advanced_search_fields {
    display: flex;
    align-items: center;
}

.advanced_search_submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}

.advanced_search_field {
    margin-right: 8px;
}