.home_container {
    margin-right: 128px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather_container {
    width: 525px;
    visibility: hidden;
    padding: 16px;
    color: #878787;
    font-size: 24px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    display: flex;
    justify-content: space-between;
}

.branch_address_container {
    display: flex;
}

.weather_branch_details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weather_details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.degrees_sign {
    margin-top: 8px;
}

.degrees {
    font-size: 36px;
}

.weather_degrees_container {
    display: flex;
    color: black;
}

.degrees_and_img {
    display: flex;
    align-items: center;
    margin-right: -16px;
}

.youtube_container {
    margin-left: 155px;
}

#weather_img {
    height: 75px;
}
