<h2>דף מנהל</h2>

<style>
    .staistics {
        direction: ltr;
    }
</style>

<div class="staistics">
</div>

<script src='~/lib/jquery/dist/jquery.js'></script>
<script src="~/lib/d3/d3.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: '/Admin/BranchSales',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: createBranchSalesGraph,
    });

    $.ajax({
        type: 'GET',
        url: '/Admin/ProductSales',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        success: createBranchSalesGraph,
    });

    function createBranchSalesGraph(data) {
        var margin = ({ top: 20, right: 0, bottom: 30, left: 40 });
        var height = 300;
        var width = 500;
        var yAxis = g => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".domain").remove());
        var xAxis = g => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x)
                .tickSizeOuter(0));
        var y = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.count)]).nice()
            .range([height - margin.bottom, margin.top]);
        var x = d3.scaleBand()
            .domain(data.map(d => d.name))
            .range([margin.left, width - margin.right])
            .padding(0.1);

        const svg = d3.select('.staistics')
            .append('svg')
            .attr('width', width)
            .attr('height', height);

        svg.append("g")
            .attr("fill", "steelblue")
            .selectAll("rect").data(data).enter().append("rect")
            .attr("x", d => x(d.name))
            .attr("y", d => y(d.count))
            .attr("height", d => y(0) - y(d.count))
            .attr("width", x.bandwidth());

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        svg.node();
    }

    function createBranchSalesGraph(data) {
        var margin = ({ top: 20, right: 0, bottom: 30, left: 40 });
        var height = 300;
        var width = 500;
        var yAxis = g => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".domain").remove());
        var xAxis = g => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x)
                .tickSizeOuter(0));
        var y = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.count)]).nice()
            .range([height - margin.bottom, margin.top]);
        var x = d3.scaleBand()
            .domain(data.map(d => d.name))
            .range([margin.left, width - margin.right])
            .padding(0.1);

        const svg = d3.select('.staistics')
            .append('svg')
            .attr('width', width)
            .attr('height', height);

        svg.append("g")
            .attr("fill", "steelblue")
            .selectAll("rect").data(data).enter().append("rect")
            .attr("x", d => x(d.name))
            .attr("y", d => y(d.count))
            .attr("height", d => y(0) - y(d.count))
            .attr("width", x.bandwidth());

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        svg.node();
    }

    function createBranchSalesGraph(data) {
        var margin = ({ top: 20, right: 0, bottom: 30, left: 40 });
        var height = 300;
        var width = 500;
        var yAxis = g => g
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y))
            .call(g => g.select(".domain").remove());
        var xAxis = g => g
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x)
                .tickSizeOuter(0));
        var y = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.count)]).nice()
            .range([height - margin.bottom, margin.top]);
        var x = d3.scaleBand()
            .domain(data.map(d => d.name))
            .range([margin.left, width - margin.right])
            .padding(0.1);

        const svg = d3.select('.staistics')
            .append('svg')
            .attr('width', width)
            .attr('height', height);

        svg.append("g")
            .attr("fill", "steelblue")
            .selectAll("rect").data(data).enter().append("rect")
            .attr("x", d => x(d.name))
            .attr("y", d => y(d.count))
            .attr("height", d => y(0) - y(d.count))
            .attr("width", x.bandwidth());

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        svg.node();
    }
</script>